body{
    padding:200px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  h1{
    text-align: center;
  }

  #name{
      text-align: left;
  }

  #yhNum{
    text-align: right;
}

#gender{
    text-align: left;
}

#date{
    text-align: right;
}

#history{
    text-align: left;
}
  h3{
    text-emphasis: underline;  
    text-align: center;
     font-family: Georgia;
     color: rgba(62, 122, 27, 0.842);
     border: 0px groove olive;
     border-width: 1px;
     border-radius: 25px;
  }
  
  .responsive-table{
    text-align: center;
    font-family: Arial, Helvetica, "sans-serif";
    font-size:small;   
    border: 3px solid rgb(68, 141, 98);
    border-radius: 1px;
    width: 100%;
  }
  
  .responsive-table td,
  .responsive-table th {
    border: 2px solid #ddd;
    padding: 1px;
  }

  .responsive-table tr:nth-child(odd) {
    background-color:rgb(183, 192, 51);
  }
  
  .responsive-table tr:hover {
    background-color: #ddd;
  }
  
  .responsive-table th {
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 1px !important;
    text-align: center;
    background-color:rgb(74, 119, 187);
    color: white;
  }
